{% extends "wrapper.html.j2" %}
{% block content %}
    <h1>Registration</h1>
    <form>
        <label id="username-input-labell">
            Username:
            <input id="username=input" type="text" name="username">
        </label>
        <label id="password-input-labell">
            Password:
            <input id="password-input" type="text" name="password">
        </label>
        <label id="email-input-labell">
            Email:
            <input id="email-input" type="text" name="email">
        </label>
    </form>
{% endblock %}